.center
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.white
{
    color: white;
}

.max_width
{
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}

.button-group .button {
    padding:10px 20px; 
    border: 1px solid black;
    border-radius: 10px; 
    background-color: #303030; 
    color: #fff; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    cursor: pointer; 
    float: left; 
} 

.sticky{
    position: sticky;
    height: 50px;
    padding-top: 10px;
    top: 0px;
    background-color: #303030;
}

.button:hover{
    background-color: #404040;
}

.container{
    padding-top: 1px;
    padding-bottom: 5px;
    background-color: #303030;
    color: white;

}

.photo{
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 60%;
    height: auto;

}

.header{
    font-size: ;
}
