body{
    margin: 0;
}

.center
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.white
{
    color: white;
}

.max_width
{
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
}

.button {
    padding:12px 20px; 
    border: 1px solid black;
    border-radius: 10px; 
    background-color: #303030; 
    color: #fff; 
    text-align: center; 
    text-decoration: none; 
    font-size: 20px; 
    cursor: pointer; 
    float: left; 
    text-wrap: nowrap;
} 

.button-group{
    position: sticky;
    padding: 20px;
    top: 0px;
    background-color: #303030;
    opacity: 0.97;
    display: flex;
    align-items: right;
    justify-content: center;
    padding-right: 1%;   ;
    overflow-x: auto;
    overflow-y: hidden;
}

.button:hover{
    background-color: #505050;
}

.container{
    padding-top: 1px;
    padding-bottom: 5px;
    background-color: #303030;
    color: white;
    border-radius: 15px;

}

.photo{
    display: block;
    margin-left: auto;
    margin-right: 1%;
    width: 50%;
    height: 50%;
    border-radius: 4%;

}

.header{
    font-size:6vw ;
    margin-left: 7%;
}

.title{
    font-size: 3vw;
}

div.scroll {
    margin: 20px auto;
    padding: 15px;
    background-color: #e7f0e9;
    width: 80%;
    max-width: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
}
